.bg-light {
    background-color: rgb(177, 172, 153) !important;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #333;
  }
  
  .navbar-light .navbar-nav .nav-link {
    color: rgb(1, 28, 63);
    font-size: 25px;
    height: 70px;
    font-family: 'Mochiy Pop P One', sans-serif;
  }
  .navbar-light ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap; 
  }

  html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  .whole {
      display: flex;
      justify-content: center;
      /* position: absolute;
      top: 0;
      left: 0; */
      height: 100%;
      opacity: .7;
  }

  .container {
      background-image: url("/cs260/portfolio/book.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
        width: 100%;
        height: 600px;
        margin: 20px;
    text-align: center;
    flex-direction: column;
    display: flex;
    align-items: center;
  }


  .h {
      font-size: 40px;
      color: white;
    display: inline-block;
    vertical-align: top;
    margin: 10%;
    line-height: normal;
    font-family: 'Mochiy Pop P One', sans-serif;
  }

  .container-fluid {
    height: 70px;
    font-family: 'Mochiy Pop P One', sans-serif;

  }

  body {
    background-color: rgb(44, 59, 78);
  }

  .btn-primary {
    background-color: #077723;
    color: white;
    padding: 20px;
    font-size: 20px;
    margin-top: 100px;
    font-family: 'Mochiy Pop P One', sans-serif;
    border-color: #080808;


}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active    {
    background-color: #3276b1;
    color: #FFF;
    border-color: #080808;

}
