* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica", "Arial", sans-serif;
    font-weight: normal;
    background-color: rgb(217, 240, 217);
}
body {
    color: #070707;
    background-color: #700101;
    font-size: 18px;
}

h1 {
    font-size: 2em;
    padding: 20px;
    border-top: 20px solid #195f4a;
    background-color: rgb(125, 209, 188);
    margin: 30px 0px 20px 30px;
}

h2 {
    font-size: 1.3em;
    margin: 0px 70px;
}

.nav {
    margin: 0px 0px 0px 30px;
    padding: 0px;
    background-color: rgb(7, 85, 46);
    display: flex;
    justify-content: space-around;
}
.nav-item  {
    display: flex;
}
.nav a{
    display: flex;
    color: white;
    text-align: center;
    padding: 20px 50px;
    text-decoration: none;
    background-color:rgb(7, 85, 46);
    border: 1px solid white;
    justify-content: space-between;
}

.intro {
    color: rgb(7, 85, 46);
    padding: 20px 0px;
    margin: 20px 100px;
    font-style: italic;
    text-align: center
}

.list {
    padding: 20px 50px;
    border: 10px solid rgb(7, 85, 46);
    margin: 20px auto;
}

.button {
    color: #FFF;
    background-color:rgb(7, 85, 46);
    font-weight: bold;
    text-align: center;
    
    border: 2px solid #5D6063;
    border-radius: 5px;
    width: 200px;

    box-sizing: border-box;
    margin: 20px auto;
    padding: 20px;
}

.button:hover {
    display: block;
    text-decoration: none;
    background-color: seagreen;
}

.button:active {
    background-color:rgb(125, 209, 188);
}

#end {
    padding: 20px;
    margin: 0px 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
hr {
    margin: 20px;
}
footer {
    font-size: .8em;
    margin: 0px 70px;
    color: blue;
    font-family:'Courier New', Courier, monospace;
}
footer:hover {
    color: aqua;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}